/target
/bin
/src/debug/
/src/test/resources/Krakatau
/src/test/resources/testcases/*.class
/sn/
/issues/
/src/main/java/com/javadeobfuscator/deobfuscator/analyzernew/
.classpath
.project
deobfuscator.iml
/.settings
/.idea
*.jar
*.txt
*.ser
*.DS_Store
dependency-reduced-pom.xml