/target
/bin
/src/debug/
/src/test/resources/Krakatau
/src/test/resources/testcases/*.class
/sn/
/libraries/
/samples/
/issues/
.classpath
.project
deobfuscator.iml
/.settings
/.idea
*.iml
*.jar
*.txt
*.ser
*.DS_Store
*.yaml
dependency-reduced-pom.xml
